name: build-job-02

on: 
    push:
    pull_request:
    schedule:
        - cron: '*/5 * * * *'
    workflow_dispatch:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: show the trigger
              run: echo "i trigger by ${{github.event_name}} event."