name: build-block-04
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: actions/react-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      -  name: Install dependencies
         run: npm ci
      - name: Run Unit tests
        run: npm run test